/* Reset general */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Multimedia */

img,picture,video,canvas,svg {
    display: block;
    max-width: 100%;
}

/* Formularios */

input,button,textarea,select {
    font: inherit;
}

/* Enlaces */

a {
    text-decoration: none;
    color: inherit;
}

/* Listas */

ul,ol {
    list-style: none;
}

/* Botones */

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Textarea */

textarea {
    resize: none;
}